.inputField {
  border-radius: 2vw !important;
  height: 5vw;
  box-shadow: none !important;
}

input:focus {
  border: 1px solid pink !important;
}

#main-container {
  height: auto;
  position: relative;
  padding-bottom: 56.25%;
}

#main-video {
  object-fit: cover;
  position: absolute;
  width: 100% !important;
  height: 70vw !important;
}

.sideBar {
  float: left;
}

a:link {
  text-decoration: none;
}

button {

  border-radius: 2VW !important;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 4vw;
  padding: 1.2vw;
  transition: all 0.5s;
  cursor: pointer;
  height: 5.5vw;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton:after {
  content: '»';
  position: absolute;
  opacity: 0;
  right: -2VW;
  transition: 0.7s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

.alAcc:hover {
  font-size: 18px;
}

.passplac::placeholder {
  font: 0.7rem/3 sans-serif !important;
}

a:link {
  text-decoration: underline;
  color: black;
  font-size: 1.5vw;
  font-weight: 500;
  border-bottom: 2 px solid black;
}

.t-c {
  cursor: pointer !important;
}

#checkbox,
#t_c {
  cursor: pointer;
}

#checkbox:checked {
  border: none;
  background-color: rgb(235, 102, 124);
}

input[type=checkbox] {
  /* border: none; */
  margin: 4px 0 0;
  line-height: normal;
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .side-bar{
    height: 0;
    width: 0;
  }
}

.prevButtton{
  color: black !important;
  width: 5vw;
}

.signUpAnTag{
  text-decoration: underline;
  color: black;
  font-size: 1.5vw;
  font-weight: 500;
  border-bottom: 2 px solid black;
  cursor: pointer;
}
